.btn-h1-spacing{
  margin-top: 18px;
}

.author-image{

	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
}

.comment{
	margin-bottom: 45px;
}

.author-name{
	float: left;
	margin-left: 15px;
}

.author-name h4{
	margin: 5px 0px;
}

.comment-content{
	clear: both;
	margin-left: 65px;
	font-size: 16px;
	line-height: 1.3em;
}

.author-time{
	font-size: 11px;
	font-style: italic;
}

.comments-title{
	margin-bottom: 45px;
}

.comments-title span{
	margin-right: 15px;
}